.join
	position relative
	margin 0
	padding 0
	.join_header
		margin 0
		padding 8px 0 0 30px
		position absolute
		border 1px solid #ccc
		width 960px
		height 158px
		background-color #FFF
		opacity:0.7
		color red
		left 285px
		top 25px
	.join_body
		margin 0
		position absolute
		border 1px solid #ccc
		width 960px
		height 585px
		background-color #FFF
		opacity:0.6
		left 285px
		top 191px