.record
  text-align center
.banfun
  padding 0
  margin 0 auto 
  background url(../../static/img/conent_bg.png) no-repeat
  width 100% 
  height 1160px 
  background-size 100% 1585px
  .banner
    width 100%
    height 475px
    align center 
    padding 0 
    margin 0
    border-top 1px solid #ccc
    .banner_left
      width 47.9%
      height 475px
      padding 0
      margin 0
      float left
      .left_content
        margin 180px 0 0 289px
        .l_c_on
          font-weight bold
          #l_c_on_ido
            font-size 38px
          #l_c_on_idt
            font-size 30px
        .l_c_tw
          margin 15px 0
          #l_c_tw_id
            font-size 22px
            font-weight bold
        .l_c_th
          margin 0 0 15px 0
          #l_c_th_id
            font-size 23px
        .l_c_fo
          img
            width 30px 
            height 30px
            display inline-block 
            padding 0
            margin 0 0 5px 0
          #l_c_fo_id
            font-size 21px
            margin 0 10px
            height 30px
            line-height 30px
            text-align center
    .banner_right
      width 52.1%
      height 475px
      padding 0
      margin 0
      float right
      img
        width 520px
        height 301px
        margin 88px 0 0 0
.advan
  width 100%
  height 560px
  position relative
  clear both
  background #F0F0F0
  .advan_title
    position absolute
    top 5%
    left 18.6%
    font-size 30px
    color #323232
  .advan_left
    img
      width 321px
      height 240px
      margin 0
      padding 0
      position absolute
      top 26%
      left 18.6%
    #advan_left_top
      position:absolute
      font-size 23px
      color #323232
      bottom 19%
      left 24.6%
    #advan_left_bottom
      position absolute
      font-size 16px
      color #323232
      bottom 10%
      left 25.6%
      font-weight bold
      text-align center
  .advan_right
    margin 0 auto
    width 321px
    text-align center
    height 65%
    position absolute
    top 26%
    right 18.6%
    img
      width 321px
      height 240px
    #advan_right_top
      height 31.2px
      line-height 31.2px
      width 164px
      margin 12% auto 0
      span
        font-size 23px
        color #323232
    #advan_right_bottom
      height 19.2px
      line-height 19.2px
      width 159px
      margin 2% auto
      top 0
      span
        font-size 16px
        color #323232
        font-weight bold
.advan_flow
  padding 0
  margin 0 auto 
  background url(../../static/img/advan_flow.png) no-repeat
  width 100% 
  height 1050px 
  background-size 100% 114%
  .advantages
    position relative
    margin 0
    padding 0
    width:100%
    height:520px;
    .plat_advan
      position absolute
      top 5%
      left 18.6%
      font-size 30px
      color #323232
    img
      position absolute
      width 360px
      height 312px
      top 32%
      left 29.6%
    .text1
      position absolute
      right 26.5%
      top 56%
      font-size 24px
      font-weight bold
      text-align center
    .text3
      position absolute
      font-size 18px
      right 27.5%
      top 64%
    .text2
      position absolute
      font-size 18px
      right 27.5%
      top 70%
  .flow
    position relative
    margin 0
    padding 0
    width 100%
    height 530px
    .flow_title
      position absolute
      top 5%
      left 18.6%
      font-size 30px
      color #323232
    #flow_left
      position absolute
      height 291px
      width 291px
      left 18.6%
      bottom 16%
    .flow_left_text
      height 22.4px
      width 257px
      line-height 22.4px
      text-align center
      position absolute
      left 19.6%
      bottom 37%
      .flow_left_span
        font-size 26px
        width 112.8px
        height 29.6px
        line-height 29.6px
        text-align center
        display block
        margin 0 auto
    #flow_middle
      position absolute
      height 291px
      width 291px
      left 40.6%
      bottom 16%
    .flow_middle_text
      height 22.4px
      width 255px
      line-height 22.4px
      text-align center
      position absolute
      left 41.6%
      bottom 37%
      .flow_middle_span
        font-size 26px
        width 158.8px
        height 29.6px
        line-height 29.6px
        text-align center
        display block
        margin 0 auto 6px
    #flow_right
      position absolute
      height 291px
      width 291px
      right 15.6%
      bottom 16%
    .flow_right_text
      height 22.4px
      width 251px
      line-height 22.4px
      text-align center
      position absolute
      right 17.6%
      bottom 37%
      .flow_right_span
        font-size 26px
        width 158.8px
        height 29.6px
        line-height 29.6px
        text-align center
        display block
        margin 0 auto 6px
.contact
  width 100%
  height 460px
  background #1D1A2B
  position relative
  .bg
    img
      background #1D1A2B
      width 100%
  .contact_text
    display flex
    width 100%
    justify-content space-between
    padding 0 18.6%
    .contact_ways
      margin-top 10px
      font-size 18px
      color white
      .telephone
        display flex
        margin-top 22px
        .qq
          margin-top 22px
      .time
        margin-top 22px
    .open_flat
      text-align center
      color white
      font-size 20px
      img
        width 120px
        height 120px
        margin-top 20px
    .discuss
      text-align center
      color white
      font-size 18px
      width 150px
      img
          width 120px
          height 120px
          margin-top 18px
          margin-left 15px
.function
  padding 30px 18.6%
  .function_title
    font-size 30px
    color #323232
  .function_images
     margin 0 auto
     height 528px
     position relative
     .contents_left
        position absolute
        top 22%
        height 395px
        width 316px
        margin 0
        padding 0

        img
          height 395px
          width 316px
      .contents_middle
        position absolute
        top 11%
        left 30%
        height 514px
        width 356px
        margin 0
        padding 0
        z-index 99999
        img
          height 514px
          width 356px
      .contents_right
        position absolute
        top 22%
        right 2.6%
        height 395px
        width 316px
        margin 0
        padding 0
        img
          height 395px
          width 316px