.header
	margin 0
	padding 0
	position relative
	background url(../../static/img/banner2.png) no-repeat
	width 100%
	height 482px  
	background-size 100% 482px
	.cont_banner
		position absolute
		color red
		font-size 25px
		left 21.5%
		top 59%
.content
	margin 0
	padding 0
	background url(../../static/img/res_c_bg.png) no-repeat
	width 100%
	height 2144px
	.cont_header
		position relative
		#cont_header_img
			margin 0
			padding 0
			width 523px
			height 110px
			position absolute
			left 18.6%
			top 107px
	.cont_body
		position relative
		padding 0
		margin 0
		#cont_body_img
			margin 0
			padding 0
			width 950px
			height 1818px
			position absolute
			left 18.6%
			top 255px
		.cont_body_text
			padding 0
			margin 0
			height 112px
			width 210px
		
			position absolute
			left 25%
			top 360px
		.cont_body_text1
			padding 0
			margin 0
			height 67.2px
			width 178px
			position absolute
			right 25%
			top 705px
		.cont_body_text2
			padding 0
			margin 0
			position absolute
			left 25%
			top 981px
		.cont_body_text3
			padding 0
			margin 0
			position absolute
			right 25%
			top 1265px
		.cont_body_text4
			padding 0
			margin 0
			position absolute
			left 25%
			top 1585px
		.cont_body_text5
			padding 0
			margin 0
			position absolute
			right 25%
			top 1882px